# Allow members of the sudo group to execute shutdown commands without password
%sudo ALL=(ALL) NOPASSWD: /sbin/shutdown
%sudo ALL=(ALL) NOPASSWD: /sbin/poweroff
%sudo ALL=(ALL) NOPASSWD: /sbin/reboot
