[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_address }}
DNS = {{ wireguard_dns }}

[Peer]
PublicKey = {{ wireguard_peer_public_key }}
AllowedIPs = {{ wireguard_allowed_ips }}
Endpoint = {{ wireguard_endpoint }}
